<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li class="blackText">
                <%= link_to "на головну сторінку", root_path() %>
            </li>
            <li class="blackText">
                <%= link_to "змінити дані про книгу", edit_book_path(@book) %>
            </li>
            <li class="blackText">
                <%= button_to "видалити книгу", book_path(@book) %>
            </li>
        </ul>
    </header>
</body>
</html>