<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <ul class="ul_header">
                <li class="li_header">Головна сторінка</li>
            </ul>
        </div>
    </header>
    <header class="header">
        <div class="container">
            <ul class="ul_header">
                <li class="li_header">Головна сторінка</li>
                <li class="li_header">Редагувати книгу</li>
                <li class="li_header">Видалити книгу</li>
            </ul>
        </div>
    </header>

    <section class="center book_info">
        <img src="https://bookclub.ua/images/db/goods/22573_33351.jpg" alt="" class="book_img">
        <section class="book_info_upper">
          
            <section class="book_info_upper_right">
              <h2 class="title">9 листопада.. <span class="text_italic">(2006)</span></h2>
              <h3 class="author">Богдан Луханін</h3>
              <h5 class="description">Опис жахливої книги, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, я там був, і там я був, </h5>
            </section>
        </section>
        
        <section class="book_info_bottom">
        <h2 class="price">399грн.</h2>
        <button class="order_btn">Замовити</button>
        </section>
      </section>
    </div>
  </section>

</body>
</html>